<b> Add <%= @game["name"] %> to your list!</b><br>
  <%= hidden_field_tag "game", @game["name"] %>  
  <%= label_tag(:hours_played, "Hours Played (HH:MM):") %><br>
  <%= text_field_tag(:hours_played, "", :size => 15) %> <br><br>
  <%= label_tag(:difficulty, "Difficulty:") %><br>
  <%= text_field_tag(:difficulty, "", :size => 15) %> <br><br>          
  <%= label_tag("score:") %> <br>
  <%= text_field_tag(:score,  "",:size => 15) %> <br><br>
  <%= label_tag("status:") %>
  <%= select_tag(:status, options_for_select(["Campaigns","Conquests", "Centrum Contentus", "Contrived Crusades"])) %>        
  <br><br>  
  <%= submit_tag("Add to list!", {:class => "add_to_list_submit", "div_prefix" => @no_spaces}) if only_submit%>
  <div class="saved_div">
    <label class="red_text"></label>
  </div>
  <br />  