      <div id="footer">
        <p>
            Any questions? Concerns? Is something breaking or do you have any suggestions for the site? Don't hesitate to contact me! email at: Muradin007@gmail.com.
          <%= link_to('about', {:controller => "about"}, {:class => "bottom_link"}) %>
          <%= link_to('change log', {:controller => "recent_changes" }, {:class => "bottom_link"})%>
          <%= link_to('contact', {:controller => "contact"}, {:class => "bottom_link"}) %>          
          <%= link_to('credit', {:controller => "credit" }, {:class => "bottom_link"})%>
          <%= link_to('terms', {:controller => "terms"}, {:class => "bottom_link"}) %>
        </p>			
      </div>	
    </div>
</body>
</html>