<body>	
  <div id="content">		
    <p id="top"><label class=tagline> An outlandish brigade of gamer-awesomeness </label></p>		    
    <% form_tag(:controller => "games", :action => "find_game") do %>                        
      <%= text_field_tag :search_tag,{}, {:class => "search_field", :id => "search_field"} %>    
      <%= label_tag :search_label, "Search!", :class => "search_label" %>                   
      <input type="image" src="/images/images.png" border=0 class="search_button", alt="search button">        
      </input>      
    <% end %>
    <div id="logo">
			<%=link_to image_tag("temp logo sheen.png", :border => 0, :class => "bleh"), :controller => "home" %><br /><br />
		</div>        
		<div class="menu">        
      <%= render :partial => "shared/menu" %>		
    </div>
    <div style="position:relative;">
      <div id="sdv" class="spiky_cool_thing">
        <%= image_tag "small_long.png" %>
      </div>    
    </div>
		<div class="line"></div><br />
      <label class="red_text clear">slow site maitenance due to school, sorry </label>
