<h1>What do you want to do?</h1>			
<br />
<h2 class="push_right">You can:</h2>
<%= render :partial => "home/games_list_link" %>
<%= render :partial => "home/search_games_link" %>
<%= render :partial => "home/recent_changes_link" %>
<%= render :partial => "home/add_to_library_link" %>
<%= render :partial => "home/account_settings_link" %>
<%= render :partial => "home/awesome_word_link" %>
