<% user = current_user %>
<div class="widget">
  <%= label_tag :login, user["login"], :class => "acc_name" %>  
  <%= image_tag "backgroundedit.png", :border => 0 %>  
  <%= image_tag "bulbasaur.PNG", :border => 0, :class => "avatar" %>
  <div class="more_acc_info">
    <li>Currently playing: <b class=game_count><%= user.game_count("Campaigns").length %> </b></li>
    <li>Completed: <b class=game_count><%= user.game_count("Conquests").length %> </b></li> 
    <li>Backburner: <b class=game_count><%= user.game_count("Centrum Contentus").length %> </b></li>
    <li>Plan to play: <b class=game_count><%= user.game_count("Contrived Crusades").length %> </b></li>
  </div>
</div>      