<%= javascript_include_tag "gamer_ryoudan.js" %>
<%= javascript_include_tag "jquery.fileUploader.js" %>
<div id="pitch_home">      
  <%= render :partial => "home/logged_in_pitch" %>
  <%= render :partial => "home/profile_widget" %>
</div>	
<%= render :partial => "home/home_search" %>    
<div id="search-results" class="search_results" >
</div>