<%= javascript_include_tag "games.js" %>
<%= javascript_include_tag "rails.js" %>
<%= javascript_include_tag "quicksilver.js" %>
<%= javascript_include_tag "jquery.quickselect.js" %>

<div id="pitch_home">      
  <%= render :partial => "home/logged_in_pitch" %>
  <%= render :partial => "home/profile_widget" %>
</div>	
<%= render :partial => "home/home_search" %>    

<div id="search-results" class="search_results" >
</div>