<% if @renderer == "PaginationListLinkRenderer" %>
  <h3> Search results: </h3>
<% end %>
<% @game_results.each do |game| %>
  <% @game = game %>
  <% added = false %>  
  <% added =  !([game] & current_user.games).empty? if current_user%>      
  <%= render :partial => "games/game", :locals => {:added => added}%>
  <% @no_spaces = @game.name.gsub(/ /,'_') %>
  <div id=<%="'add_"+@no_spaces+"_div'"%> class="add_game_partial">
    <% if !added %>    
        <%= render :partial => "shared/add_to_list", :locals => {:only_submit => true} %>            
    <% else %> 
      <%= render :partial => "shared/add_to_list", :locals => {:only_submit => true} %>
    <% end %>        
  </div>  
  <br />
<% end %>
<br />
<div class=clear>
<% pp @search_tag %>
<%= "More results" if @game_results.count > 19%>
<%= will_paginate @game_results, 
                             :params => {:search_tag => @search_tag}, 
                             :home_search=> @home_search,
                             :seperator => " ", 
                             :renderer => @renderer %>
</div>