<%= javascript_include_tag "games.js" %>
<h1><h3>Search Results:</h3></h1>
<br /><br /><br /><br />
<%= label_tag :search_count, "Found #{@result_count} games. Showing #{@start_interval} - #{@end_interval}" %>
<br /><br />
<%= render :partial => "games/search_results" %>
<div class="clear">
  <br><br>
  <h3>Search again!</h3>
  <br>
  <% @load_page = true %>
  <div class=push_right_small>
    <%= render :partial => "shared/search"%>
    <br>
    <label class=list_search>
      <%= link_to "Back to your list", :controller => "game_list" if current_user%>
    </label>    
    <br /> <br />
  </div>
</div>