<%= javascript_include_tag "add_game/add_game.js" %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h3> Add a game to the database!! </h3>

<% form_tag(:controller => "games", :action => "add_game", :method => "post") do %>
  <%= label_tag(:name, "Name:")%><br>
  <%= text_field_tag(:name, @name) %> <br><br>
  
  <%= label_tag(:platform, "Platform:") %><br>
  <%= text_field_tag(:platform) %> <br><br>  

  <%= label_tag(:add_to_list, "Add this game to your list?") %>
  <%= check_box_tag( :add_to_list, 1, false, {:onclick => "show_hide()"}) %>      
  <div id="add-game" class="add_game">
    <%= label_tag(:status, "status:") %>
    <%= select_tag(:status, options_for_select(["Campaigns","Conquests", "Centrum Contentus", "Contrived Crusades"])) %>
  </div>
  <br>
  <%= submit_tag("AWESOME SAUCE GOOO!") %>
<% end %>