<%= javascript_include_tag "jquery.quickselect.js" %>
<%= javascript_include_tag "games.js" %>
<div class="something">
  <h3> Add a game to the database!! </h3>
<%= render :partial => "add_game_db" %>
</div>
<div class=clear>
  <%= render :partial => "games/note" %>
</div>
<div class="clear">  
  <br>
  <h3> Search again!</h3>
  <br /><br />
  <% @load_page = true %>
  <%= render :partial => "shared/search"%>
</div>
<br>
<label class="list_search"><%= link_to "Back to your list", :controller => "game_list" %></label>
<br /><br />