<% name = game[0]["name"] %>
<tr>
  <td class="list_row game_row"> <b><%= name %></b><a href=# class=edit_tag>Edit</a></td>
  <td class="list_row platform_row"> <%= label_tag(:platform, game[0]["platform"], :class => "left_align") %> </td>      
  <td class="list_row difficulty_row"> 
    <div name=<%= name%> id=<%= name+"_difficulty_div" %>>            
      <%= link_to(game[1]["difficulty"], {}, {:selector_id => name + "_difficulty", :class => "set_difficulty left_align red_text", :href=>"#"}) %>       
    </div>
  </td>  
  <td class="list_row hours_played_row">
    <div name=<%=name%> id=<%= name + "_hours_played_div" %>>
      <%= link_to game[1]["hours_played"], {}, {:selector_id => name + "_hours_played", :class => "set_hours_played red_text"} %>
    </div>
  </td>
  <td class="list_row notes_row">
    <div name=<%=name%> id= <%= name + "_notes_div" %>>
      <%= link_to game[1]["notes"], {}, {:selector_id => name + "_notes", :class => "set_notes red_text"} %>
    </div>
  </td>
</tr>