<%= javascript_include_tag "gamer_ryoudan.js" %>
<%= javascript_include_tag "facebox.js" %>
<%= stylesheet_link_tag "facebox.css" %>  
<br />
<h2> <%= @user["login"] + "'s list" %> </h2><br />
<%= render :partial => "game_list/playing" %>
<br /><br />
<%= render :partial => "game_list/completed" %>
<br /><br />
<%= render :partial => "game_list/hold" %>
<br /><br />
<%= render :partial => "game_list/planned" %>
<br /><br />
<% @load_page = true %>
<label class=list_search>Look for more games!</label>
<%= render :partial => "shared/search"%>
<br /><br />