<% if flash[:notice] %>
  <h3><%= flash[:notice] %></h3> 
<% end %>
<h1> Contact </h1>
<br />
<div class=contact_desc>
<p>
  Please use any of the following methods to get in touch with me, should there
  be any problems with the site. I am very eager to support so let me know if you
  have any concerns, complaints, or problems with the site. Even if it is really small
  and seemingly insignificant!
</p>
</div>
<li class=lioption>
  Email: gamer-ryoudan@gmail.com
</li>
<li class=lioption>
  IM: Muradin006
</li>
<li class=lioption>
  MSN:Muradin007@live.com
</li>
<br /><br />
<b>Feedback</b><br /><br />
<% form_tag "contact/feedback" do %>
  <%= label_tag "Appreciate any and all feedback! Thanks!" %><br /><br />
  <%= label_tag "subject" %><br />
  <%= text_field_tag :subject %><br /><br />
  <%= label_tag "comments" %><br />
  <%= text_area_tag :body, "", :class => "comments_box" %><br />
  <%= submit_tag "send!" %>
<% end %>
<br /><br />