<div class="right">      
  <%# Look into storing the commit info in our database because curl takes awhile to do things 
    %>
      
  <h4>Latest changes</h4>
  <% latest_commits = get_latest_commits %>
  <h3><%=latest_commits.first.first%></h3>
  <p><%=latest_commits.first[1]%></p>
  <br />
  <h3><%=latest_commits[1].first%></h3>
  <p><%=latest_commits[1][1]%></p>
  <br />
  <h3><%=latest_commits[2].first%></h3>
  <p><%= latest_commits[2][1]%></p>
</div>