<div class="clear">
  <div class="left info">
    <h1>Gamer Ryoudan</h1>
    <b> The Gamer Ryoudan is a comprehensive video game tracker 
    meant for easy and intuitive game recording. It remembers everything
    you play so you dont have to!</b>
    <br /><br />
    <label><b>With it, you can track: </b></label>
    <li class="li_home"><label class="option red_home"><b>The status of your game</b></label></li>
    <li class=inner>Playing</li>
    <li class=inner>Completed</li>
    <li class=inner>Hold</li>
    <li class=inner>Plan to play</li>
    <li class="li_home"><label class="option red_home"><b>How many total hours you've played</b></label></li>
    <li class="li_home"><label class="option red_home"><b>Game and platform percent completion</b></label></li><br />
    <label><b> You can also use the Gamer Ryoudan to:</b></label>
    <li class="li_home"><label class="option red_home"><b>Visit other people's lists/profiles</b></label></li>
    <li class="li_home"><label class="option red_home"><b>Brag about how awesome you are</b></label></li>
  </div>  
  <div class="leftBorder login">
    <h1>Login</h1>  
    <br>
    <% form_for @user_session, :url => "/user_sessions/create" do |f| %>
      <%= f.error_messages %>
      <%= f.label :login %><br />
      <%= f.text_field :login %><br />
      <br />
      <%= f.label :password %><br />
      <%= f.password_field :password %><br />
      <br />
      <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
      <br />
      <%= f.submit "Login" %>
    <% end %>
    <br />
    <h3>Not registered yet? ENHANCE YOUR ABILITY!! DO IT!!</h3>
    <div class="buttons">
      <form name="myform" action="../users/new/" method="POST">
        <button type="submit" class="positive" action="users/new">
          <img src="/images/icon.png" alt=""/> 
            Register!
        </button>
        <input type="hidden" value="06ac2070d414557ce15c2b06e1dc587083568a66" name="authenticity_token">
      </form>      
    </div>    
  </div>
</div>